<!DOCTYPE html>

<head>
    
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1>
        {{>header}}
         <img src="img/me.jpg" alt="">

        ABOUT page

    </h1>
    {{>footer}}
</body>
</html>